<div class="tab-inner">
  <div class="row" style="width: 1600px;">
      <div class="col-lg-8">
          <h5 class="text-custom-black">Enter Block</h5>
          <form class="row mb-md-80" #f="ngForm" (ngSubmit)="f.form.valid && onAddBlock()" class="form-horizontal">
              <div class="col-md-12">
                  <div class="form-group">
                      <label class="fs-14 text-custom-black fw-500">Sexe</label>
                      <div class="group-form">
                          <select class="custom-select form-control form-control-custom {{f.submitted && categorie.invalid? 'is-invalid': ''}}"
                          ngModel name="categorie" #categorie="ngModel" [(ngModel)]="block.sexe" required nice-select >
                              <option value="MALE">MALE</option>
                              <option value="FEMALE">FEMALE</option>
                              <option value="MIXTE">MIXTE</option>

                          </select>
                          <div class="col-md-3 "></div>


                  </div>
                  <div class="form-group">
                      <label class="fs-14 text-custom-black fw-500">Type</label>
                      <div class="group-form">
                          <select class="custom-select form-control form-control-custom {{f.submitted && categorie.invalid? 'is-invalid': ''}}"
                          ngModel name="categorie" #categorie="ngModel" [(ngModel)]="block.type" required nice-select >
                              <option value="RESIDANT_Student">RESIDANT_Student</option>
                              <option value="NORESIDANT">NORESIDANT</option>
                              <option value="RESIDANT_Teacher">RESIDANT_Teacher</option>

                          </select>
                          <div class="col-md-3 "></div>


                  </div>





              </div>


              <div class="col-12">
                <hr class="mt-0">

                <button type="reset" class="btn-first btn-danger">Cancel</button>
                <button  type="submit"  class="btn-first btn-submit">Add </button>



            </div>
          </div>
        </div>

      





